.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input, button, h3 {
  margin-bottom: 2rem;
}

button {
  color: #FFF;
  background-color: blue;
  padding: 1rem;
}

h3 {
  padding: 3rem 7rem;
}